
body{
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
#header{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 60px;
    background: crimson;
    position: fixed;
    z-index: 1;
}
#menubar{
    margin: 15px;
    float: left;
    cursor: pointer;
}
#click{
    display: none;
}
.fa{
    cursor: pointer;
}
#logo{
    margin: 15px;
    float: left;
}
#logo a{
    text-decoration: none;
    color: white;

}
#menu{
    float: right;
}
#menu ul{
    margin: 0;
    padding: 0;
    margin: 15px;
}
#menu li{
    
    display: inline;
}
#menu a{
    text-decoration: none;
    color: white;
}
#slider{
    margin: 0;
    padding: 0;
    top: 60px;
    position: relative;
    width: 100%;
    background: lightsalmon;
}
#content{
    margin: 0;
    padding: 0;
    top: 60px;
    position: relative;
    width: 100%;
    
}
#footer{
    margin: 0;
    padding: 0;
    position: relative;
    top:60px;
    width: 100%;
    background: crimson;
}

@media screen and (max-width:450px){
    ul{
        display: none;
    }
    #logo{
        float: right;
    }
}
@media screen and (min-width:451px){
   
    #menubar .fa{
        display: none;
    }
    #logo{
        margin-left: -20px;
    }
}
