body{
    background-color:rgb(255, 255, 255);
    margin-top: 20%;
    margin-left: 30%;
}
div{
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    display: inline-block;
    animation-name:animate;
    animation-duration:2s;
    animation-iteration-count:infinite;
}
.div1{
    animation-delay: 0s;
}
.div2{
    animation-delay: 0.2s;
}
.div3{
    animation-delay: 0.4s;
}
.div4{
    animation-delay: 0.6s;
}
.div5{
    animation-delay: 0.8s;
}
.div6{
    animation-delay: 1s;
}