.div1{
    height:50px;
    width:50px;
    background-color: aqua;
    float: left;
}
.div2{
    height:70px;
    width: 100px;
    background-color: black;
    float: left;
}
.div3{
    height:130px;
    width: 150px;
    background-color: brown;
    float: left;
}
.div4{
    height:50px;
    width:50px;
    background-color: aqua;
    clear: both;
    float: left;
}
.div5{
    height:70px;
    width: 100px;
    background-color: black;
    float: left;
}
.div6{
    height:130px;
    width: 150px;
    background-color: brown;
    float: left;
}