h1{
    background-color: rgb(88, 159, 252);
    color: red;
    width: 900px;
    
}
form{
    background-color: rgb(106, 243, 243);
    width: 900px;
}
label{
    color: rgb(34, 63, 209);
}
h5{
    text-align-last: left;
    color: red;
}
p{
    color: rgb(34, 63, 209);
    text-align-last: left;
}