/*_________________________________________HEADER START_____________________________________________*/
@media screen and (max-width:480px) {   
    .menu{
        display: none;
    }
    .fontawesome{
        display: none;
    }
    .logo{
        margin: 0 auto;
    }
  
}
@media screen and (min-width:481px) and (max-width:768px) {
    .fa-bars{
        display: none;
    }
    .menu{
        display: none;
    }
    .login{
        display: none;
    }
    .logo{
        margin: 0 20px;
    }
}
@media screen and (min-width:769px)  {
    .fa-bars{
        display: none;
    }
    .fontawesome{
        display: none;
    }
    .logo{
        margin: 0 0 0 20px;
    }
}
/*_________________________________________HEADER END_____________________________________________*/

/*_________________________________________SLIDER START_____________________________________________*/
/*_________________________________________SLIDER END_____________________________________________*/

/*_________________________________________CONTENT START_____________________________________________*/
@media screen and (max-width:320px) { 
    #content{
    width: 40%;
    grid-template-columns: 1fr;
    }
    #content h1{
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        justify-content: center;
    }

    .item1{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item2{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .item3{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .item4{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .item5{
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .item6{
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .item7{
        grid-column: 1/2;
        grid-row: 8/9;
    }
    .item8{
        grid-column: 1/2;
        grid-row: 9/10;
    }
    .item9{
        grid-column: 1/2;
        grid-row: 10/11;
    }
    .item10{
        grid-column: 1/2;
        grid-row: 11/12;
    }
    .item11{
        grid-column: 1/2;
        grid-row: 12/13;
    }
    .item12{
        grid-column: 1/2;
        grid-row: 13/14;
    }

}
@media screen and (min-width:321px) and (max-width:480px){
    .flip:hover .view{
        top:83%;
    }
    #content{
        width: 80%;
        grid-template-columns: 1fr 1fr;
        }
        #content h1{
            grid-column: 1/3;
            grid-row: 1/2;
            display: grid;
            justify-content: center;
        }
    
        .item1{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .item2{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .item3{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .item4{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .item5{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .item6{
            grid-column: 2/3;
            grid-row: 4/5;
        }
        .item7{
            grid-column: 1/2;
            grid-row: 5/6;
        }
        .item8{
            grid-column: 2/3;
            grid-row: 5/6;
        }
        .item9{
            grid-column: 1/2;
            grid-row: 6/7;
        }
        .item10{
            grid-column: 2/3;
            grid-row: 6/7;
        }
        .item11{
            grid-column: 1/2;
            grid-row: 7/8;
        }
        .item12{
            grid-column: 2/3;
            grid-row: 7/8;
        }
}
@media screen and (min-width:481px) and (max-width:600px){
  
    #content{
        width: 80%;
        grid-template-columns: 1fr 1fr 1fr;
        }
        #content h1{
            grid-column: 1/4;
            grid-row: 1/2;
            display: grid;
            justify-content: center;
        }
    
        .item1{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .item2{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .item3{
            grid-column: 3/4;
            grid-row: 2/3;
        }
        .item4{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .item5{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .item6{
            grid-column: 3/4;
            grid-row: 3/4;
        }
        .item7{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .item8{
            grid-column: 2/3;
            grid-row: 4/5;
        }
        .item9{
            grid-column: 3/4;
            grid-row: 4/5;
        }
        .item10{
            grid-column: 1/2;
            grid-row: 5/6;
        }
        .item11{
            grid-column: 2/3;
            grid-row: 5/6;
        }
        .item12{
            grid-column: 3/4;
            grid-row: 5/6;
        }

}
@media screen and (min-width:601px) and (max-width:768px){
    /*4 column*/
  
}
@media screen and (min-width:769px) and (max-width:1024px){
 
    #content{
        width: 95%;
        grid-template-columns: repeat(5,1fr);
        }
        #content h1{
            grid-column: 1/6;
            grid-row: 1/2;
            display: grid;
            justify-content: center;
        }
    
        .item1{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .item2{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .item3{
            grid-column: 3/4;
            grid-row: 2/3;
        }
        .item4{
            grid-column: 4/5;
            grid-row: 2/3;
        }
        .item5{
            grid-column: 5/6;
            grid-row: 2/3;
        }
        .item6{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .item7{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .item8{
            grid-column: 3/4;
            grid-row: 3/4;
        }
        .item9{
            grid-column: 4/5;
            grid-row: 3/4;
        }
        .item10{
            grid-column: 5/6;
            grid-row: 3/4;
        }
        .item11{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .item12{
            grid-column: 2/3;
            grid-row: 4/5;
        }
}
@media screen and (min-width:1025px) and (max-width:1440px){
   
    #content{
        width: 95%;
        grid-template-columns: repeat(6,1fr);
        }
        #content h1{
            grid-column: 1/7;
            grid-row: 1/2;
            display: grid;
            justify-content: center;
        }
    
        .item1{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .item2{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .item3{
            grid-column: 3/4;
            grid-row: 2/3;
        }
        .item4{
            grid-column: 4/5;
            grid-row: 2/3;
        }
        .item5{
            grid-column: 5/6;
            grid-row: 2/3;
        }
        .item6{
            grid-column: 6/7;
            grid-row: 2/3;
        }
        .item7{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .item8{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .item9{
            grid-column: 3/4;
            grid-row: 3/4;
        }
        .item10{
            grid-column: 4/5;
            grid-row: 3/4;
        }
        .item11{
            grid-column: 5/6;
            grid-row: 3/4;
        }
        .item12{
            grid-column: 6/7;
            grid-row: 3/4;
        }
}

@media screen and (min-width:1441px){
    #content{
        width: 95%;
        grid-template-columns: repeat(6,1fr);
        }
        #content h1{
            grid-column: 1/7;
            grid-row: 1/2;
            display: grid;
            justify-content: center;
        }
    
        .item1{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .item2{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .item3{
            grid-column: 3/4;
            grid-row: 2/3;
        }
        .item4{
            grid-column: 4/5;
            grid-row: 2/3;
        }
        .item5{
            grid-column: 5/6;
            grid-row: 2/3;
        }
        .item6{
            grid-column: 6/7;
            grid-row: 2/3;
        }
        .item7{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .item8{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .item9{
            grid-column: 3/4;
            grid-row: 3/4;
        }
        .item10{
            grid-column: 4/5;
            grid-row: 3/4;
        }
        .item11{
            grid-column: 5/6;
            grid-row: 3/4;
        }
        .item12{
            grid-column: 6/7;
            grid-row: 3/4;
        }
}
/*_________________________________________CONTENT END_____________________________________________*/

/*_________________________________________QUICK VIEW START_____________________________________________*/
@media screen and (min-width:810px) and (max-width:940px){
    .flip:hover .view{
        top:80%;
    }
}
@media screen and (min-width:941px) and (max-width:1000px){
    .flip:hover .view{
        top:80%;
    }
}
@media screen and (min-width:1001px) and (max-width:1100px){
    .flip:hover .view{
        top:80%;
    }
}
@media screen and (min-width:1101px) and (max-width:1200px){
    .flip:hover .view{
        top:80%;
    }
}
@media screen and (min-width:1201px) and (max-width:1300px){
    .flip:hover .view{
        top:84%;
    }
}
@media screen and (min-width:1301px) and (max-width:1400px){
    .flip:hover .view{
        top:83%;
    }
}
@media screen and (min-width:1401px) and (max-width:1500px){
    .flip:hover .view{
        top:84%;
    }
}
/*_________________________________________QUICK VIEW END_____________________________________________*/

/*_________________________________________FOOTER START_____________________________________________*/
@media screen and (max-width:442px) {
    #footer{
        width: 85%;
    }
}
/*_________________________________________FOOTER END_____________________________________________*/