*{
    box-sizing:border-box;
    /* border:solid 1px; */
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#warraper{
    display:flex;
    flex-direction:column;
}
/*_________________________________________HEADER START_____________________________________________*/
#header {
    
    background: white;
    width: 100%;
    display:flex;
    align-items: center;
    min-height: 75px;
   position: fixed;
   top: 0;
   z-index: 1;
   box-shadow:  0px 1px 10px black;
}
#header ul{
    list-style: none;
    display:flex;
   
}
#header a{
    color: #00572d;
    text-decoration: none;

}
.logo img{
    width: 150px;
    margin-top: 15px;
}
.menu{
    margin: 0 0 0 auto;
}
.menu li{
    margin: 0 20px;
}
.login{
    margin:0 30px ;
}




#click{
    display: none;
}
.fa-bars{
    margin:0 25px;
    color: #00572d;
}
.fontawesome{
    margin: 0 0 0 auto;
}
.fontawesome li{
    margin: 0  20px;
}
/*_________________________________________HEADER END_____________________________________________*/

/*_________________________________________SLIDER START_____________________________________________*/
#slider{
    z-index: 0;
    position: relative;
    top: 75px;
    width: 100%;
    
}
.slide img{
    filter: brightness(75%);
    width: 100%;
}
/*_________________________________________SLIDER END_____________________________________________*/

/*_________________________________________CONTENT START_____________________________________________*/
#content{
    z-index: 0;
    position: relative;
    top: 80px;
    width: 80%;
    margin: auto;
    display: grid;

    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows:50px repeat(3);
    grid-gap:10px;
}
#content h1{
    color:#00572d;
    font-size: 30px;
    grid-column: 1/5;
    grid-row: 1/2;
    display: grid;
    justify-content: center;
}
#content img{
    width: 100%;
}
.flip:hover img{
    transform: rotateY(180deg);
}
.flip:hover .view{
    opacity: 1;
    top: 77%;
}
.view{
    background-color:#00572d ;
    transition: 1s;
    position: relative;
    z-index: 2;
    top: -18px;
    opacity: 0;
    text-align: center;
}
.flip span{
    display: grid;
    justify-content: end;
}
.flip a{
    /* color: white; */
    text-decoration: none;
}

.flip img{
    transition: 1s;
}
.not-flip{
    text-align: center;
}

.items{
    /* border: solid 2px; */
    box-shadow: 0px 0px 10px 0px black;
}
.items a{
    color: #00572d;
    text-decoration: none;
}
.view a{
    color: white;
}
/*_________________________________________CONTENT END_____________________________________________*/

/*_________________________________________FOOTER START_____________________________________________*/
#footer{
    position: relative;
    top: 90px;
    padding: 10px;
    margin:5px auto;
    width: 100%;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    background: #00572d;
    color: white;
}


.usefullinks{
    flex-grow: 1;
    flex-basis: 200px;
}
.usefullinks a{
    text-decoration: none;
    color: white;
}
.usefullinks li{
    list-style: none;
}
.contactus{
    width: 210px;
    word-wrap: break-word;
    flex-grow: 1;
}
.contactus a{
    text-decoration: none;
    color: white;
}
.folloeus{
    flex-grow: 1;
    flex-basis: 200px;
}
.folloeus a{
    text-decoration: none;
    margin: 5px 5px;
    font-size: 25px;
    color: white;
}
.paymentmethods{
    flex-grow: 1;
    flex-basis: 200px;
}
.paymentmethods h3{
    width: 100%;
}
.paymentmethods img{
    width: 25%;
}
.payment{
    width: 80%;
}

#footer h3{
    text-shadow: 0px 0px 2px  black;

}


#last{
    position: relative;
    top: 90px;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    background:white ;
}
#last .like{
    flex-basis: 300px;
    flex-grow: 1;
    /* align-self: end; */
}
#last .copyright{
    flex-basis: 300px;
    flex-grow: 1;
}

/*_________________________________________FOOTER END_____________________________________________*/


