*{
    box-sizing:border-box;
    /* border:solid 1px; */
    margin: 0;
    padding: 0;
}

#warraper{
    display:flex;
    flex-direction:column;
}
/*_________________________________________HEADER START_____________________________________________*/
#header {
    background: white;
    width: 100%;
    display:flex;
    align-items: center;
    min-height: 75px;
   position: fixed;
   top: 0;
   z-index: 1;
}
#header ul{
    list-style: none;
    display:flex;
   
}
#header a{
    text-decoration: none;

}
.logo img{
    width: 150px;
    margin-top: 15px;
}
.menu{
    margin: 0 0 0 auto;
}
.menu li{
    margin: 0 20px;
}
.login{
    margin:0 30px ;
}




#click{
    display: none;
}
.fa-bars{
    margin:0 25px;
}
.fontawesome{
    margin: 0 0 0 auto;
}
.fontawesome li{
    margin: 0  20px;
}
/*_________________________________________HEADER END_____________________________________________*/

/*_________________________________________SLIDER START_____________________________________________*/
#slider{
    z-index: 0;
    position: relative;
    top: 75px;
    width: 100%;
}
.slide img{
    width: 100%;
}
/*_________________________________________SLIDER END_____________________________________________*/

/*_________________________________________CONTENT START_____________________________________________*/
#content{
    z-index: 0;
    position: relative;
    top: 80px;
    width: 80%;
    margin: auto;
    display: grid;

    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows:50px repeat(3);
    grid-gap:20px;
}
#content h1{
    grid-column: 1/5;
    grid-row: 1/2;
    display: grid;
    justify-content: center;
}
#content img{
    width: 100%;
}
.flip:hover img{
    transform: rotateY(180deg);
}
.flip:hover .view{
    opacity: 1;
    top: 240px;
}
.view{
    background-color: black;
    transition: 1s;
    position: relative;
    z-index: 2;
    top: -18px;
    opacity: 0;
    text-align: center;
}
.flip span{
    display: grid;
    justify-content: end;
}
.flip a{
    color: white;
    text-decoration: none;
}
.flip img{
    transition: 1s;
}
.not-flip{
    text-align: center;
}
/*_________________________________________CONTENT END_____________________________________________*/

/*_________________________________________FOOTER START_____________________________________________*/
#footer{
    position: relative;
    top: 90px;
    padding: 10px;
    margin:5px 0;
    width: 100%;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
}


.usefullinks{
    flex-grow: 1;
    flex-basis: 200px;
}
.contactus{
    width: 210px;
    word-wrap: break-word;
    flex-grow: 1;
}
.folloeus{
    flex-grow: 1;
    flex-basis: 200px;
}
.paymentmethods{
    flex-grow: 1;
    flex-basis: 200px;
}
.paymentmethods h3{
    width: 100%;
}
.paymentmethods img{
    width: 25%;
}
.payment{
    width: 80%;
}


#last{
    position: relative;
    top: 80px;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
}
#last .like{
    flex-basis: 300px;
    flex-grow: 1;
    /* align-self: end; */
}
#last .copyright{
    flex-basis: 300px;
    flex-grow: 1;
}

/*_________________________________________FOOTER END_____________________________________________*/


