.ans8{
    height: 100px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-image: url('images/pikachu.png');
    background-position: center center;
    border: solid;
  }