*{
    box-sizing:border-box;
    /* border:solid 1px; */
    margin: 0;
    padding: 0;
}
#warraper{
    display:flex;
    flex-direction:column;
}
#header {
    display:flex;
    align-items: center;
    min-height: 75px;
}
#header ul{
    list-style: none;
    display:flex;
}
#header a{
    text-decoration: none;

}
.logo img{
    width: 150px;
    margin-top: 15px;
}

.slide img{
    width: 100%;
}
.menu{
    margin: 0 10px 0 auto;
}

.menu li{
    margin: 0 25px 0 0;
    padding-left: 15px;
}
.login li{
    margin: 0 40px 0 0;
}

