
body{
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
#header{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 60px;
    background: crimson;
    position: fixed;
    z-index: 1;
}
#menubar{
    float: left;
}
#logo{
    float: left;
}
#menu{
    float: right;
}
#menu ul{
    margin: 0;
    padding: 0;
}
 li{
    display: inline;
}
#slider{
    margin: 0;
    padding: 0;
    top: 60px;
    position: relative;
    width: 100%;
    background: lightsalmon;
}
#content{
    margin: 0;
    padding: 0;
    top: 60px;
    position: relative;
    width: 100%;
    
}
#footer{
    margin: 0;
    padding: 0;
    position: relative;
    top:60px;
    width: 100%;
    background: crimson;
}