*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.navbar{
    align-items: center;
    padding: 12px;
    display:flex;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type:none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    padding: 18px;
}
nav ul li input{
    background-color: green;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: transparent;
}
a{
    text-decoration: none;
    color: green;
    font-family: cursive;
}





.dropdown{
    display: none;
}
.dropdown ul li a{
    color: #2bab0d;
}
nav ul li a:hover{
    color: white;
}
nav ul li:hover{
    background: #2bab0d;
    border-radius: 30px;
    margin: auto;
    padding: auto;

}
nav ul li:hover .dropdown{
    position: absolute;
    margin-top: 15px;
    background: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav ul li:hover .dropdown ul li{
    display:list-item;
    margin: 0;
    text-align: left;
    top: 0;
    
}


    
.slider-container{
    position: relative;
    width: auto;
    /* height:75vh ; */
    top: 100px;
    z-index: 0;
    display: flex;
}
.slider-item{
    position:absolute;
    flex-grow: 2;
}