/* class="Question15" style="background-image: url(images/banner\ ex..jpg); background-size: 100% 200px; background-repeat: no-repeat;" */

div{
    background-size: 100% 200px;
    background-repeat: no-repeat;
    background-image: url(https://marketplace.canva.com/EAE-xnqWvJk/1/0/1600w/canva-retro-smoke-and-round-light-desktop-wallpapers-JLofAI27pCg.jpg);
    color: white;
}