@media (max-width: 500px) 
{
    .fa{
        display: block; 
        position: relative;
    }
    nav ul {
        /* display: block; */
        position: fixed;
        top:80px;
        left: -100%;
        background-color: white;
        width: 100%;
        text-align: center;
        margin-top: -11px;
        transition: 0.8s;
        
    }
    nav ul li{
        margin: 10px;
        width: 100%;
    }
    #click:checked ~ nav ul{
        left: 0%;
    }
}
@media (min-width:500px){
    .fa{
        display: none; 
    }
}